.login-page {
    height: 100vh;
    margin-top: 0;
    background-image: url('https://i.pinimg.com/originals/b5/e4/b2/b5e4b2c5660807a83f1926574556ea75.jpg');
    background-size: cover;
    background-position: center;
}

.login-title{
    display: flex;  
    gap: 5px;
}

.login-form {
    padding-top: 180px;
}
.login-form-inner {
    background-color: #ffffff95;
    padding: 20px 40px 40px;
}

.child-margin{
    margin-left: 30px;
    width: calc(100% - 15px) !important;
}

.MuiPaper-root .MuiPaper-elevation {
    box-shadow: none;
}

.acc-parent{
    height: 10px;
}


.modal-ul{
    margin: 0;
    padding: 0;
}

.modal-ul li{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.modal-ul li:hover{
    cursor: pointer;
}

.modal-ul li:first-child{
    color: green;
}

.modal-ul li:nth-child(2){
    color: #F4CA16;
}

.modal-ul li:nth-child(3){
    color: blue;
}

.modal-ul li:last-child{
    color: red;
}


.modal-ul-delivry{
    margin: 0;
    padding: 0;
}

.modal-ul-delivry li{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.modal-ul-delivry li:hover{
    cursor: pointer;
}

.modal-ul-delivry li:first-child{
    color: #3B82F6;
}

.modal-ul-delivry li:nth-child(2){
    color: #F4CA16;
}

.modal-ul-delivry li:nth-child(3){
    color: black;
}

.modal-ul-delivry li:nth-child(4){
    color: green;
}

.modal-ul-delivry li:nth-child(5){
    color: red;
}

.modal-ul-delivry li:nth-child(5) textarea{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
}

.modal-ul-delivry li:nth-child(5) textarea:focus{
    outline: none;
    border: 1px solid gray;
}


/* Kanban style start */

.kanban-container{
    padding: 10px;
    display: flex;
    align-items: start;
    gap: 20px;
}

.kanban-column_container{
    background-color: #3B82F6;
    max-width: 300px;
    width: 100%;
    /* min-height: 250px; */
    border-radius: 5px;
    padding: 10px 8px;
}

.kanban-column_component{
}

.kanban-column-header_container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

.kanban-column-header_container h3{
    font-family: cursive;
}

.kanban-column-list_container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.kanban-list-item_container:hover{
    cursor: pointer;
}

.kanban-list-item_container{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.kanban-list-item_component{
    display: flex;
    align-items: center;
    gap: 30px;
}

.css-1fo2sjy-MuiButtonBase-root-MuiFab-root {
    z-index: 1 !important;
}

.delivery-container{
    width: 100% !important;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

.delivery-item-container{
    max-width: 300px;
    width: 100%;
    background-color: #3B82F6;
    border-radius: 5px;
    padding: 7px;
}

.delivery-item-container_header{
    padding: 5px 10px;
}

.delivery-item-container_header h3{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.delivery-item-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery-item-container_component{
    background-color: #ffffff;
    padding: 5px;
    color: #000;
    border-radius: 5px;
}


.item{
    display: flex;
    gap: 7px;
    padding: 5px 3px;
}

.money-btn{
    border: 1px solid #ccc;
    padding: 1px 13px;
    border-radius: 6px;
}

.true{
    color: green;
    border: 1px solid green;
}

.false{
    color: red;
    border: 1px solid red;
}

.money-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.image-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: start;
}


#priceInput{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px ;
    outline: .5px solid #ccc;
    width: 100% !important;
    margin-top: 8px;
}

#priceInput:focus{
    outline: 1px solid #3B82F6;
    border: 1px solid #3B82F6;
}
.MuiInputBase-root{
    background-color: #fff !important;
}

.add-inputs{
    display: inline-block;
    text-align: end;
    max-width: 120px;
    width: 100%;
}

.dashboard-icon{
    color: #FFC107;
    font-size: 28px;
}

/* .dashboard-container{
    width: 100%;
    overflow-x: scroll;
} */

.dashboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-item-cart{
    /* max-width: 320px;
    width: 100%;
    min-width: 200px; */
    width: 270px;
}

.dashboart-cart-group-two{
    display: flex;
    justify-content: space-between;
}

.error-product{
    border-bottom: 1px solid red;
    border-radius: 5px;
}


@media screen and (max-width:1400px) {
    .dashboard-item-cart{
        max-width: 220px ;
        width: 100%;
    }

}

@media screen and (max-width:1200px) {
    .dashboard-item-cart{
        max-width: 150px !important;
        width: 100%;
    }

    .dashboard-icon{
        font-size: 18px;
    }

}

@media screen and (max-width:992px) {
    .dashboard-item-cart{
        max-width: 200px !important;
    }


}

@media screen and (max-width:768px) {
    .dashboard-icon{
        font-size: 15px;
    }

    .dashboard-item-cart{
        max-width: 150px !important;
    }


}

@media screen and (max-width:564px) {
    .dashboard-item-cart{
        max-width: 170px !important;
    }
    .dashboard-icon{
        font-size: 12px;
    }
}
@media screen and (max-width:360px) {
    .dashboard-item-cart{
        width: 180px !important;
    }
    .dashboard-icon{
        font-size: 12px;
    }

    
}